.navbar-brand{
    background-color: rgb(133, 196, 189);
    padding: inherit;
    font-weight: bold;
}

#Latitude{
    color: ivory;
}




@media(max-width: 992px) {
    #navigation{
        background-color: rgb(133, 196, 189);
    }
}    